In [31]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [32]:
data = pd.read_csv("dataset/ecommerce_dataset_updated.csv")

In [33]:
data.describe()

       Price (Rs.)  Discount (%)  Final_Price(Rs.)
count  3660.000000   3660.000000       3660.000000
mean    254.800675     18.825137        206.906579
std     141.682621     14.731338        122.687844
min      10.090000      0.000000          5.890000
25%     134.012500      5.000000        104.512500
50%     253.845000     15.000000        199.185000
75%     377.595000     25.000000        304.117500
max     499.960000     50.000000        496.820000

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3660 entries, 0 to 3659
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           3660 non-null   object
 1   Product_ID        3660 non-null   object
 2   Category          3660 non-null   object
 3   Price (Rs.)       3660 non-null   float64
 4   Discount (%)      3660 non-null   int64
 5   Final_Price(Rs.)  3660 non-null   float64
 6   Payment_Method    3660 non-null   object
 7   Purchase_Date     3660 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 228.9+ KB

In [35]:
data.isnull().sum()

User_ID             0
Product_ID          0
Category            0
Price (Rs.)         0
Discount (%)        0
Final_Price(Rs.)    0
Payment_Method      0
Purchase_Date       0
dtype: int64

In [36]:
data.duplicated().sum()

0

In [37]:
unique_data = data['Payment_Method'].unique()
unique_data

array(['Net Banking', 'Credit Card', 'UPI', 'Cash on Delivery',
       'Debit Card'], dtype=object)

In [38]:
# Sample data
categories = ['Net Banking', 'Credit Card', 'UPI', 'Cash on Delivery',
       'Debit Card']

# Initialize LabelEncoder
encoder = LabelEncoder()

# Fit and transform the data
encoded_labels = encoder.fit_transform(categories)

# Output results
print("Original categories:", categories)
print("Encoded labels:", encoded_labels)
print("Mapping:", dict(zip(encoder.classes_, range(len(encoder.classes_)))))

Original categories: ['Net Banking', 'Credit Card', 'UPI', 'Cash on Delivery', 'Debit Card']
Encoded labels: [3 1 4 0 2]
Mapping: {'Cash on Delivery': 0, 'Credit Card': 1, 'Debit Card': 2, 'Net Banking': 3, 'UPI': 4}

In [39]:
data['Payment_Method']= encoder.fit_transform(data['Payment_Method'])

In [40]:
unique_data = data['Category'].unique()
unique_data

array(['Sports', 'Clothing', 'Toys', 'Beauty', 'Books', 'Home & Kitchen',
       'Electronics'], dtype=object)

In [41]:
# Sample data
categories1 = ['Sports', 'Clothing', 'Toys', 'Beauty', 'Books', 'Home & Kitchen',
       'Electronics']

# Initialize LabelEncoder
encoder = LabelEncoder()

# Fit and transform the data
encoded_labels = encoder.fit_transform(categories1)

# Output results
print("Original categories:", categories1)
print("Encoded labels:", encoded_labels)
print("Mapping:", dict(zip(encoder.classes_, range(len(encoder.classes_)))))

Original categories: ['Sports', 'Clothing', 'Toys', 'Beauty', 'Books', 'Home & Kitchen', 'Electronics']
Encoded labels: [5 2 6 0 1 4 3]
Mapping: {'Beauty': 0, 'Books': 1, 'Clothing': 2, 'Electronics': 3, 'Home & Kitchen': 4, 'Sports': 5, 'Toys': 6}

In [42]:
data['Category']= encoder.fit_transform(data['Category'])

In [43]:
atribute = data.iloc[:,2:7]
atribute

      Category  Price (Rs.)  Discount (%)  Final_Price(Rs.)  Payment_Method
0            5        36.53            15             31.05               3
1            2       232.79            20            186.23               3
2            5       317.02            25            237.76               1
3            6       173.19            25            129.89               4
4            0       244.80            20            195.84               3
...        ...          ...           ...               ...             ...
3655         0       486.79             0            486.79               4
3656         6       212.87            15            180.94               0
3657         4       389.76             0            389.76               3
3658         3       447.66            30            313.36               4
3659         4       235.77            30            165.04               4

[3660 rows x 5 columns]

In [44]:
scaler = StandardScaler()
scaler_attribute = scaler.fit_transform(atribute)

scaler_attribute

array([[ 0.99714519, -1.54077118, -0.2596953 , -1.43356182,  0.69363403],
       [-0.50761762, -0.1553732 ,  0.07976356, -0.168553  ,  0.69363403],
       [ 0.99714519,  0.43920578,  0.41922241,  0.2515134 , -0.72384255],
       ...,
       [ 0.49555759,  0.95267694, -1.27807187,  1.49059923,  0.69363403],
       [-0.00603001,  1.36139264,  0.75868127,  0.86779556,  1.40237232],
       [ 0.49555759, -0.1343374 ,  0.75868127, -0.34129135,  1.40237232]])