In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
data = pd.read_csv("dataset/adult.csv")

In [15]:
data.describe()

,39,77516,13,2174,0,40
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [17]:
data.isnull().sum()

39                0
 State-gov        0
 77516            0
 Bachelors        0
 13               0
 Never-married    0
 Adm-clerical     0
 Not-in-family    0
 White            0
 Male             0
 2174             0
 0                0
 40               0
 United-States    0
 <=50K            0
dtype: int64

In [20]:
data.duplicated().sum()

0

In [19]:
data = data.drop_duplicates()

In [7]:
unique_data = data['Payment_Method'].unique()
unique_data

KeyError: 'Payment_Method'

In [ ]:
# Sample data
categories = ['Net Banking', 'Credit Card', 'UPI', 'Cash on Delivery',
       'Debit Card']

# Initialize LabelEncoder
encoder = LabelEncoder()

# Fit and transform the data
encoded_labels = encoder.fit_transform(categories)

# Output results
print("Original categories:", categories)
print("Encoded labels:", encoded_labels)
print("Mapping:", dict(zip(encoder.classes_, range(len(encoder.classes_)))))

Original categories: ['Net Banking', 'Credit Card', 'UPI', 'Cash on Delivery', 'Debit Card']
Encoded labels: [3 1 4 0 2]
Mapping: {'Cash on Delivery': 0, 'Credit Card': 1, 'Debit Card': 2, 'Net Banking': 3, 'UPI': 4}

In [ ]:
data['Payment_Method']= encoder.fit_transform(data['Payment_Method'])

In [ ]:
unique_data = data['Category'].unique()
unique_data

array(['Sports', 'Clothing', 'Toys', 'Beauty', 'Books', 'Home & Kitchen',
       'Electronics'], dtype=object)

In [ ]:
# Sample data
categories1 = ['Sports', 'Clothing', 'Toys', 'Beauty', 'Books', 'Home & Kitchen',
       'Electronics']

# Initialize LabelEncoder
encoder = LabelEncoder()

# Fit and transform the data
encoded_labels = encoder.fit_transform(categories1)

# Output results
print("Original categories:", categories1)
print("Encoded labels:", encoded_labels)
print("Mapping:", dict(zip(encoder.classes_, range(len(encoder.classes_)))))

Original categories: ['Sports', 'Clothing', 'Toys', 'Beauty', 'Books', 'Home & Kitchen', 'Electronics']
Encoded labels: [5 2 6 0 1 4 3]
Mapping: {'Beauty': 0, 'Books': 1, 'Clothing': 2, 'Electronics': 3, 'Home & Kitchen': 4, 'Sports': 5, 'Toys': 6}

In [ ]:
data['Category']= encoder.fit_transform(data['Category'])

In [ ]:
atribute = data.iloc[:,2:7]
atribute

      Category  Price (Rs.)  Discount (%)  Final_Price(Rs.)  Payment_Method
0            5        36.53            15             31.05               3
1            2       232.79            20            186.23               3
2            5       317.02            25            237.76               1
3            6       173.19            25            129.89               4
4            0       244.80            20            195.84               3
...        ...          ...           ...               ...             ...
3655         0       486.79             0            486.79               4
3656         6       212.87            15            180.94               0
3657         4       389.76             0            389.76               3
3658         3       447.66            30            313.36               4
3659         4       235.77            30            165.04               4

[3660 rows x 5 columns]

In [ ]:
scaler = StandardScaler()
scaler_attribute = scaler.fit_transform(atribute)

scaler_attribute

array([[ 0.99714519, -1.54077118, -0.2596953 , -1.43356182,  0.69363403],
       [-0.50761762, -0.1553732 ,  0.07976356, -0.168553  ,  0.69363403],
       [ 0.99714519,  0.43920578,  0.41922241,  0.2515134 , -0.72384255],
       ...,
       [ 0.49555759,  0.95267694, -1.27807187,  1.49059923,  0.69363403],
       [-0.00603001,  1.36139264,  0.75868127,  0.86779556,  1.40237232],
       [ 0.49555759, -0.1343374 ,  0.75868127, -0.34129135,  1.40237232]])